body {
        padding-top: 70px;
       }
.sorter {
    position: relative;
    margin-left: 7px;
}

.sorterTop {
    position: absolute;
    left: 0px;
    top: -7px;
}

.sorterBottom {
    position: absolute;
    left: 0px;
    top: 8px;
}

#budgetlabel {
    text-align: center;
}

#budgettotal {
    text-align: center;
    width: 80px;
}

#budgettotalcontainer {
    position: relative;
}

#budgettotallabel {
    position: absolute;
    top: -20px;
    left: 10px;
    font-size: 15px;
}

.budgettotalbutton {
    width: 60px;
    height: 20px;
    font-size: 15px;
}

#budgettotalinput {
    width: 100px;
}
