h1 {
    text-align: center;
}

label {
    font-size: 20px;
}

#navTable {
    border-collapse: collapse; 
    width: 75%; 
    margin: 0px auto;
}

#ideasTable {
    border-collapse: collapse; 
    width: 75%; 
    margin: 0px auto;
    text-align: left;
    font-size: 20px;
}

#showToggle {
    text-align: center;
    margin: 0px auto;
}

#searchBox {
    width:25%;
}