 body {
        padding-top: 70px;
       }


label {
    font-size: 20px;
}

#navTable {
    border-collapse: collapse; 
    margin: 0px auto;
}

#ideasTable {
    border-collapse: collapse; 
    margin: 0px auto;
    text-align: left;
    font-size: 20px;
}

#showToggle {
    text-align: center;
    margin: 0px auto;
}

#searchBox {
}