body {
    padding-top: 70px;
}

.studwrap ol{
    list-style: none;
    padding-left: 0px;
}

.studwrap{
	max-height: 300px;
	overflow: auto;
	margin-bottom: 20px;
}

.studwrap .table{
	margin-bottom: 0px;
}

#myModal ol{
    list-style: none;
    padding-left: 0px;
    display: block;
}

#myModal table{
	width: 100%;
	display: inline-block;
    overflow: scroll;
}

.modal-body .right{
    background-color: green !important;
	width: 100%;
}

.modal-body .wrong{
	background-color: red;
	z-index: 1000000;
	width: 100%;
}

.available-time{
	color: white;
    background-color: #006600;
    border: solid white;
}

.unavailable-time{
	color: white;
    background-color: #990000;
    border: solid white;
}