body {
    padding-top: 70px;
}

.studwrap ol{
    list-style: none;
    padding-left: 0px;
}

#myModal ol{
    list-style: none;
    padding-left: 0px;
    display: block;
}

#myModal table{
	width: 100%;
	display: inline-block;
    overflow: scroll;
}

.modal-body .right{
    background-color: green !important;
	width: 100%;
}

.modal-body .wrong{
	background-color: red;
	z-index: 1000000;
	width: 100%;
}

.available-time{
	color: white;
    background-color: #006600;
    border: solid white;
}

.unavailable-time{
	color: white;
    background-color: #990000;
    border: solid white;
}

.glyphicon{
    /* not best practice to add css to bootstrap class necessarily,
    but simplifies the code here. */
    font-size: 1.5em;
}

.block{
    display: block;
    padding: 0px;
}

.col-md-12 .col-md-12{
    padding: 0px;
}

.block .col-md-4{
    padding: 0px;
}

td a{
    text-decoration: none;
    color: black;
}

.leftwrapper{
    float: left;
}

.right{
    float:right;
}