 body {
        padding-top: 70px;
       }

#dropdownTime{
height:34px;
}
#to-do{
	width: inherit!important;
}
.row{
	margin-bottom:15px;
}

#random_idea{
	float:right !important;
}
#save{
	margin-top:10px;
}

#revert{
	margin-top: 10px;
}